
.container
	%h1 Infraestructura Virtual
	%h3 Práctica 1 - PaaS

	.datos
		%img{:src => "/img/mifoto.jpg", :title => "Óscar Zafra", :width => "200", :height => "200"}
		%span Óscar Zafra

	%p Segunda línea
